__pycache__
.ipynb_checkpoints
exported_labels
full_dataset
motos_detectadas_poligono
motos_detectadas_segmentadas
motos_segmentation
runs
13SubirGeneral12.__pycache__
Aplicacion*
Predic*.ipynb
yolo*.pt
motos_detectadas/dataset
13SubirGeneral12.py
Mejorado_Tiempo_Real.ipynb
motos_detectadas.zip
Untitled1.ipynb
video_evaluacion_original.mp4
full_dataset_aumentacion.yaml
full_dataset.yaml
*.mp4
*.mp4
test-seg-objetos-11-d629c638d466.json
config_google.json
